<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Paintoon</title>
    <link href="styles/authMessageStyle.css" rel="stylesheet"/>
</head>
<body>
<div class="mainBlock">
    <p th:utext="${message}">Here should be displayed a message</p>
    <div class="button">
        <form action="/register" method="get" th:if="${shouldRedirectToRegister}">
            <input type="submit" value="Go to registration page"/>
        </form>
        <form action="/login" method="get" th:if="${!shouldRedirectToRegister}">
            <input type="submit" value="Go to login page"/>
        </form>
    </div>
</div>
</body>
</html>