<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
</head>
<body>
<form action="#" method="post" th:action="@{/login}" th:object="${formModel}">
    <p>Username: <input th:field="*{name}" type="text"></p>
    <p>Password: <input th:field="*{password}" type="password"></p>
    <p><input type="submit" value="Login"></p>
</form>
<form action="/register" method="get">
    <input type="submit" value="Go to register">
</form>
</body>
</html>