<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="styles/authMessageStyle.css" rel="stylesheet"/>
</head>
<body>
    <div class="mainBlock">
        <p th:utext="${message}">Here should be displayed a message</p>
        <div class="button">
            <form th:if="${shouldRedirectToRegister}" action="/register" type="get">
                <input value="Go to registration page" type="submit" />
            </form>
            <form th:if="${!shouldRedirectToRegister}" action="/login" type="get">
                <input value="Go to login page" type="submit" />
            </form>
        </div>
    </div>
</body>
</html>