<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History entry printout</title>
</head>
<body>
<h1>All pixel changes</h1>
<th:block th:each="entry : ${historyEntries}">
    <p style="margin: auto">
        <b style="color: red" th:text="${entry.redComponent}"></b>
        <b style="color: green" th:text="${entry.greenComponent}"></b>
        <b style="color: blue" th:text="${entry.blueComponent}"></b>
        <i th:text="${entry.timeOfModification}"></i>
        <u th:text="${entry.userWhoModifiedPixel.name}"></u>
        <b th:text="${entry.x}"></b>
        <b th:text="${entry.y}"></b>
    </p>
</th:block>
<h1>Every pixel latest change</h1>
<th:block th:each="change : ${foreachLatest}">
    <p style="margin: auto">
        <b style="color: red" th:text="${change.redComponent}"></b>
        <b style="color: green" th:text="${change.greenComponent}"></b>
        <b style="color: blue" th:text="${change.blueComponent}"></b>
        <i th:text="${change.timeOfModification}"></i>
        <u th:text="${change.userWhoModifiedPixel.name}"></u>
        <b th:text="${change.x}"></b>
        <b th:text="${change.y}"></b>
    </p>
</th:block>
</body>
</html>