<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <title>r/place continued</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/popper.min.js"></script>
    <script src="/webjars/bootstrap/bootstrap.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="webjars/stomp-websocket/stomp.min.js"></script>
    <link href="/styles/homepageStyle.css" rel="stylesheet"/>
    <script src="scripts/homepageScript.js"></script>
</head>
<body>
<div class="container padding-top-md">
    <div class="d-flex flex-row" id="messages" style="padding: 5px; height: 60px">

    </div>
    <div class="row">
        <div class="col no-grow">
            <div class="row padding-xs padding-top-none">
                <div class="col padding-xs">
                    <iframe class="utilityFrame" frameborder="0" onload="resizeIframe(this)" scrolling="no"
                            src="/login"></iframe>
                </div>
                <div class="col height-auto padding-xs">
                    <iframe class="historyFrame"></iframe>
                </div>
            </div>
        </div>
        <div class="col padding-none height-auto canvas">
            <canvas id="canvas"></canvas>
            <script>initPage();</script>
        </div>
        <div class="col color-picker">
            &nbsp;Coś tam
        </div>
    </div>
</div>

</body>
</html>