<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <title>r/place continued</title>
    <link rel="stylesheet"
          href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/popper.min.js"></script>
    <script src="/webjars/bootstrap/bootstrap.min.js"></script>
</head>
<body>
    <div class="container"><br/>
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert"
               aria-label="close">×</a>
            <strong>Success!</strong> It is working as we expected.
        </div>
</div>
</body>
</html>