<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>r/place continued</title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/popper.js/popper.min.js"></script>
    <script src="/webjars/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/styles/homepageStyle.css" />
    <script>
        function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
        }
    </script>
</head>
<body>
    <div class="container padding-top-md">
        <div class="row">
            <div class="col no-grow" >
                <div class="row padding-xs padding-top-none">
                    <div class="col padding-xs">
                        <!-- TODO should default to login page -->
                        <iframe class="registrationFrame" src="/register" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>
                    </div>
                    <div class="col fill-height padding-xs" >
                        <iframe class="historyFrame" ></iframe>
                    </div>
                </div>
            </div>
            <div class="col padding-xs ">
                <img class="imageByteArray" src="/image" >
            </div>
        </div>
    </div>

</body>
</html>