<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
    <form action="#" th:action="@{/register}" th:object="${formModel}" method="post">
        <p>Username: <input type="text" th:field="*{name}"/></p>
        <p>Password: <input type="password" th:field="*{passwordFirst}"/></p>
        <p>Repeat password: <input type="password" th:field="*{passwordSecond}"/></p>
        <p><input type="submit" value="Register" /></p>
    </form>
    <form action="/login" method="get">
        <input type="submit" value="Go to login page" />
    </form>
</body>
</html>