<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
<form action="#" method="post" th:action="@{/register}" th:object="${formModel}">
    <p>Username: <input th:field="*{name}" type="text"/></p>
    <p>Password: <input th:field="*{passwordFirst}" type="password"/></p>
    <p>Repeat password: <input th:field="*{passwordSecond}" type="password"/></p>
    <p><input type="submit" value="Register"/></p>
</form>
<form action="/login" method="get">
    <input type="submit" value="Go to login"/>
</form>
</body>
</html>